@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Poppins:wght@200;400;600&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', 'sans-serif';
}
body{
    background: linear-gradient(0,red, purple);
}

.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
    
}
.logo{
    padding: 16px;
    text-transform: uppercase;
    font-size: 40px;
    color: white;
    font-weight: 500;
}

.logo span{
    text-transform: lowercase;
}

.nav-list{
    display: flex;
    list-style: none;
    gap:16px;
    overflow: hidden;
    transition: all 0.8s;
}

.nav-item{
    color: black;
    font-weight: 300;
}
.nav-item:hover{
    color: white;
}

.menu-button{
    cursor: pointer;
    background:none;
    border: none;
    color: white;
    font-size: 25px;
    position: absolute;
    right: 10px;
    top:10px;
    display: none;
}

.menu-button:focus ~ .nav-list{
    height: 91vh;
}

.card-list{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 10px;
    grid-gap: 15px;
    text-align: center;
}
.card{
    border-radius: 10px;
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.card-header img{
    max-width: 100%;
    display: block;
    border-radius:  10px 10px 0px 0px;
}

.card-footer{
    font-weight: 500;
    text-align: center;
    padding: 12px ;
}

.nome-footer{
    color: white;
}

.footer-end{
    text-align: center;
    padding: 16px;
}



@media (max-width:700px) {
    .nav-bar{
        flex-direction: column;
        align-items: flex-start;
        background: rgba(194, 194, 194, 0.288);
    }

    .logo{
        font-size: 20px;
    }

    .nav-list{
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin: auto;
        height: 0;
        
    }
    
    .menu-button{
        display: flex;
    }

}
@media (max-width: 1100px) {
    .card-list {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media (max-width: 900px) {
    .card-list {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 600px) {
    .card-list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 460px) {
    .card-list {
        grid-template-columns: repeat(2, 1fr);
    }
}